#page-point-of-sale .point-of-sale-app .payment-container .payment-modes .payment-mode-wrapper {
	min-width: 80px;
	text-align: center;
	max-width: 170px;
}

#page-point-of-sale .point-of-sale-app .payment-container .payment-modes .payment-mode-wrapper:has(.cash-amount) {
	max-width: 250px
}

#page-point-of-sale .point-of-sale-app .payment-container .payment-modes .payment-mode-wrapper .mode-of-payment {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#page-point-of-sale .point-of-sale-app .payment-container .payment-modes .payment-mode-wrapper .mode-of-payment .pay-amount {
	float: none;
	display: block !important;
}
